.App {
  display: flex;
  justify-content: center;  /* horizontal centering */
  align-items: flex-start;  /* align to top */
  height: 100vh;
  text-align: center;
  padding-top: 50px; /* controls distance from top */
  background-color: #f5f5f5;
}

h1 {
  font-size: 2rem;
  color: #333;
}
